.item-transaction {
  background-color: #f5f5f5;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 100px;
  position: relative;
}

.beneficiary {
  margin: 0;
  color: #1f3869;
  line-height: 1rem;
}

.transaction-information {
  display: grid;
  grid-template-columns: 1fr;
}

.account-number {
  font-size: 0.85rem;
  color: #1f3869;
  word-break: break-word;
}

.address {
  font-size: 0.8rem;
  color: #1f3869;
  font-weight: 500;
}

.description {
  font-size: 0.9rem;
  color: #838383;
  line-height: 1rem;
  margin: 0.1rem 0 0.4rem;
}

.date {
  font-size: 0.7rem;
  color: #adadad;
}

.amount {
  font-size: 1.5rem;
  font-weight: 300;
  justify-content: right;
  align-items: center;
  display: flex;
}

.delete {
  position: absolute;
  color: red;
  cursor: pointer;
  top: 0;
  right: 0.5rem;
  font-size: 1.2rem;
  list-style: 1rem;
  font-weight: 300;
  border: none;
  background-color: #f5f5f5;
}
