.main {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-areas:
    "1fr 1fr"
    "myArea myArea";
}

label {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #1f3869;
}

input[class*="-input"] {
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: #838383;
}
