.app-navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 10px;
  justify-content: right;
}

.app-navbar a {
  color: white;
  text-decoration: none;
}

.app-navbar a:hover,
.app-navbar a:active,
.app-navbar a:focus {
  color: rgb(224, 224, 224);
}
