.app-footer {
  background-color: #1f3869;
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10vw;
  color: white;
  align-items: center;
  margin-top: 30vh;
  position: sticky;
  bottom: 0;
}
